<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label>
    <input type="email" required>
</label>
<button onclick="onSubmit()">отправить письмо</button>
</body>
<script>
    const onSubmit = (e) => {
        console.log(1)
        const email = document.querySelector("[type=\"email\"]").value.trim()
        console.log(email)
        fetch("/auth/send_email", {
            method: "POST",
            credentials: "include",
            headers: {
                "Content-type": "application/json"
            },
            body: JSON.stringify({"email": email})
        })
    }
</script>
</html>