<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label>
    <input type="password">
</label>
<button onclick="onSubmit()">сохранить новый пароль</button>
</body>
<script>
    const onSubmit = () => {
        const pass = document.querySelector("[type=\"password\"]").value.trim()
        const token = window.location.href.split("=")[1]

        fetch("/auth/reset_password", {
            method: "POST",
            headers: {
                "Content-type": "application/json"
            },
            body: JSON.stringify({"password": pass, "token": token})
        })
    }
</script>
</html>